<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container">
    <a routerLink="/home" class="navbar-brand websiteName">YR Home</a>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav m-auto  mt-2 mt-lg-0">
              <li class="nav-item" >
                  <a class="nav-link" routerLink="/home" routerLinkActive="active" >Home</a>
              </li>

              <li class="nav-item"  >
                  <a class="nav-link" routerLink="/cart" routerLinkActive="active " >Cart</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" routerLink="/product" routerLinkActive="active">Products</a>
              </li>

              
              <li class="nav-item">
                  <a class="nav-link" routerLink="/contactUs" routerLinkActive="router-link-active">Contact Us</a>
              </li>

              
          </ul>
          
      </div>
  </div>
</nav>
