<div class="image-container">
    <img id="bigImg" src="../../../assets/Images/bigImg.jpg" alt="Your Image">
      

    <div class="text-header ">
      <h1 class="mb-5"> MODERN DESIGN MEETS COZY COMFORT</h1>
      <h4 id="textPara ">Create the perfect space</h4>
      <button class="btn btn-outline-dark w-25 btnShop" routerLink="/product">Shop Now</button>
    </div>
 </div>

 <br><br>
 <h3 class="header text-center mt-5">Best Sellers Products</h3>

<app-slider></app-slider>

<br><br><br>


<app-category></app-category>


  